* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', serif;
  font-weight: 400;
  font-size: 16px;
}

ul {
  list-style: none;
}

.notosanskr {
  font-family: 'Noto Sans KR', serif;
  font-weight: 400;
}

.size72 {font-size: 72px;}
.size64 {font-size: 64px;}
.size60 {font-size: 60px;}
.size56 {font-size: 56px;}
.size48 {font-size: 48px;}
.size40 {font-size: 40px;}
.size36 {font-size: 36px;}
.size32 {font-size: 32px;}
.size28 {font-size: 28px;}
.size24 {font-size: 24px;}
.size21 {font-size: 21px;}
.size18 {font-size: 18px;}
.size16 {font-size: 16px;}
.size14 {font-size: 14px;}
.size12 {font-size: 12px;}
.size11 {font-size: 11px;}
.size10 {font-size: 10px;}
.size9 {font-size: 9px;}

.blackmode-bg {
  background-color: black;
}
.blackmode-font {
  color: white;
}

#letter-spacing-range {
  letter-spacing: -25;
}

.letter-spacing-value {
  letter-spacing: 0;
}

