/* CSS Variable */
:root {
  --colorWhite: #FFFFFF;
  --colorEBEBEB: #EBEBEB;
  --colorADADAD: #ADADAD;
  --color595959: #595959;
  --colorBlack: #000000;
  --mobileMargin: 15px;

  --font-notosans: 'Noto Sans KR', serif;
  --font-roboto: 'Roboto', 'Noto Sans KR', serif;
  --font-opensans: 'Open Sans', 'Noto Sans KR', serif;
  --font-lato: 'Lato', 'Noto Sans KR', serif;
  /* --font-spoqa:; */
  /* --font-nanum:; */
}

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  box-sizing: border-box;
  font-family: 'Roboto', 'Noto Sans KR', serif;
  font-size: 16px;
  font-weight: 400;
	line-height: 1.4;
  cursor: default;
  position: relative;
  overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
  display: block;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  color: inherit;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}
button:focus,
button:active {
  outline: none;
  box-shadow: none;
}





/* header */
#header {
  width: 100%;
  height: 80px;
  color: var(--colorBlack);
  background-color: var(--colorWhite);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  z-index: 100;
}

.header-wrap {
  width: 100%;
  height: 100%;
  padding: var(--mobileMargin);
}

.header-flex-wrap {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.detail-controls-button {
  width: 44px;
  height: 44px;
}

.detail-controls-icon {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.detail-controls-icon img {
  width: 100%;
}


/* Sidenav */
.sidenav {
  width: 321px;
  height: 100vh;
  position: absolute;
  z-index: 500;
  top: 0;
  right: -321px;
  background-color: gainsboro;
  transition: right 500ms;
}

.sidenav.active {
  right: 0;
}




/* Main */
#main {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: var(--colorWhite);
  padding: 0 calc(var(--mobileMargin) * 2);
}

/* Controls */
#font-controls {
  width: 100%;
  height: 120px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 100;
}

/* #font-controls label {
  display: block;
  margin-bottom: 8px;
}
#font-controls select {
  display: block;
  width: 312px;
  height: 44px;
} */

.preview-text {display: none;}

.select-box {
  width: 312px;
}

.select-label {
  margin-bottom: 8px;
}

.selected-item-button {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 0px 16px;
  width: 100%;
  height: 44px;
  border-radius: 8px;
  border: 1px solid var(--colorADADAD);
  cursor: pointer;
  overflow: hidden;
}

.selected-item-button.open {
  border-bottom: 0px;
  border-radius: 8px 8px 0px 0px;
}

.selected-item {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 44px;
  color: var(--color595959);
}

.option-items {
  width: 312px;
  height: 0px;
  position: absolute;
  z-index: 120;
  overflow: hidden;
  font-size: 14px;
  background-color: var(--colorWhite);
}

.option-items.open {
  height: 272px;
  border: 1px solid var(--colorADADAD);
  border-top: 0px;
  border-radius: 0px 0px 8px 8px;
  overflow: visible;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.option-item-list {
  width: 100%;
  height: 44px;
  line-height: 44px;
  background-color: var(--colorWhite);
}

.option-item {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  border-top: 1px solid var(--colorEBEBEB);
}

.option-item-list:first-child > .option-item {
  border-top: 0px;
}

.option-item:hover {
  background-color: var(--colorEBEBEB);
  cursor: pointer;
}

.option-item.active {
  background-color: var(--colorADADAD);
}


/* Font Preview */
.font-preview-header {
  width: 100%;
  height: 32px;
  border-top: 2px solid var(--colorBlack);
  border-bottom: 1px solid var(--colorBlack);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.font-preview-main {
  position: relative;
  z-index: 1;
  padding-top: 16px;
}

.font-preview-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  overflow: hidden;
}

.font-text {
  white-space: nowrap;
  min-width: 72px;
}

.font-size {
  white-space: nowrap;
  position: relative;
  background-color: var(--colorWhite);
}

.text-p {
  position: relative;
}

/* .text-p::after {
  content: "";
  position: absolute;
  width: 72px;
  height: 100%;
  background-color: var(--colorBlack);
} */

.font-size::before {
  content: "";
  position: absolute;
  left: -60px;
  width: 60px;
  height: 100%;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 85%);
}




/* Styles */
.style-notosans {
  font-family: var(--font-notosans);
}
.style-roboto {
  font-family: var(--font-roboto);
}
.style-opensans {
  font-family: var(--font-opensans);
}
.style-lato {
  font-family: var(--font-lato);
}


/* BUTTON */
.toggle-icon {
  display: block;
  width: 44px;
  height: 44px;
}

.toggle-icon-img {
  display: block;
  /* width: 100%; */
  height: 100%;
}

.toggle-icon-img.open {
  transform: rotate(180deg);
}

.filter-blur {
  filter: blur(3px);
}